.navbar {
    background-color: #ff6f91 !important;
    color: #fcf7ff !important;
}

.nav-link {
    color: #fcf7ff!important;
}

.row {
    margin-top: 30px;
}

.card {
    margin: 20px;
}

.card-title {
    margin: 15px;
}

h2 {
    margin-left: 20px;
}

body {
    background-image: url("./public/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.deleteButton {
    color: #bb2d3b;
    padding-left: 80px;
}